.pizza-item {
   display: flex;
   gap: 20px;
   align-items: center; 
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 15px;
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .pizza-item img {
   width: 120px; 
   height: 120px;
   object-fit: cover; 
   border-radius: 10px;
 }
 
 .pizza-info {
   flex: 1; 
   
   justify-content: space-between; 
   align-items: center; 
 }
 
 .pizza-info-text {
   display: flex;
   flex-direction: column; 
   gap: 5px; 
   flex-grow: 1; 
 }
 
 .counter-container{
  display: flex;
  align-items: center;
  gap: 20px;
 }
 


.counter-btn {
  background-color: orange;
  color: white; 
  border: none; 
  
  border-radius: 4px; 
  padding: 5px 10px; 
  font-size: 14px; 
  cursor: pointer; 
}

