.pizza-item {
   display: flex;
   gap: 20px;
   align-items: center; 
   border: 1px solid #ddd;
   border-radius: 10px;
   padding: 15px;
   background-color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }
 
 .pizza-item img {
   width: 120px; 
   height: 120px;
   object-fit: cover; 
   border-radius: 10px;
 }
 
 .pizza-info {
   flex: 1; 
   
   justify-content: space-between; 
   align-items: center; 
 }
 
 .pizza-info-text {
   display: flex;
   flex-direction: column; 
   gap: 5px; 
   flex-grow: 1; 
 }
 
 .add-to-cart-btn {
   padding: 10px 15px;
   background-color: #007bff; 
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 14px;
   transition: background-color 0.3s ease;
   margin-left: auto; 
 }
 
 .add-to-cart-btn:hover {
   background-color: #0056b3;
 }
 
 .add-to-cart-btn:active {
   transform: scale(0.95); 
 }
 .counter-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.counter-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.counter-btn:hover {
  background-color: rgb(163, 108, 6);
}

.counter-display {
  font-size: 16px;
  font-weight: bold;
}

 